{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>About Us</h1>
    
        <div class="row">
            <div class="person">
                <img src="./static/data/images/khanji01.jpg" alt="Person 1">
                <h3>Jibran Khan</h3>
                <p>Senior</p>
                <p>Data Science/Management</p>
                <a href="mailto: khanji01@luther.edu">khanji01@luther.edu</a>
            </div>
    
            <div class="person">
                <img src="./static/data/images/leng02.jpg" alt="Person 2">
                <h3>Diep Le</h3>
                <p>Junior</p>
                <p>Accounting/Data Science</p>
                <a href="mailto: leng02@luther.edu">leng02@luther.edu</a>
            </div>

            <div class="person">
                <img src="./static/data/images/mariev01.jpg" alt="Person 1">
                <h3>Evan Marinov</h3>
                <p>Junior</p>
                <p>Computer Science</p>
                <a href="mailto: mariev01@luther.edu">mariev01@luther.edu</a>
            </div>

            <div class="person">
                <img src="./static/data/images/nguyhu01.jpg" alt="Person 1">
                <h3>Huy Nguyen</h3>
                <p>Sophomore</p>
                <p>Data Science/Mathematics</p>
                <a href="mailto: nguyhu01@luther.edu">nguyhu01@luther.edu</a>
            </div>

            <div class="person">
                <img src="./static/data/images/rohdma02.jpg" alt="Person 1">
                <h3>Mateus Rohden</h3>
                <p>Junior</p>
                <p>Computer Science</p>
                <a href="mailto: rohdma02@luther.edu">rohdma02@luther.edu</a>
            </div>
    
    
        </div>
    </div>
    <link rel="stylesheet" href="./static/css/about.css">

{% endblock %}