{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('main.recommend') }}" method="POST">
    <label for="category">Choose a business type:</label>
    <select name="category" id="category">
        {% for business_type in business_types %}
            <option value="{{ business_type }}">{{ business_type }}</option>
        {% endfor %}
    </select>
    <label for="top_n">Number of top restaurants to show:</label>
    <input type="number" name="top_n" id="top_n" value="1" min="1" max="3">
    <button type="submit">Get Recommendations</button>
</form>
{% endblock %}