{% extends "base.html" %}

{% block content %}
<style>
    .table-custom {
        width: 100%;
        background-color: #fff;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow for depth */
    }
    .table-custom th, .table-custom td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .table-custom th {
        background-color: #007BFF; /* Bootstrap primary color */
        color: white;
        text-align: left;
    }
    .table-custom tr:nth-child(even){background-color: #f2f2f2;}
    .table-custom tr:hover {background-color: #ddd;}
</style>

<div class="container">
    <h2 class="text-center mb-4">Recommendation Results</h2>
    <table class="table-custom">
        <thead>
            <tr>
                <th>#</th>
                <th>Restaurant Name</th>
                <th>Location</th>
                <th>Top Similar Cities in Iowa</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant_info in top_restaurants_info %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ restaurant_info['Name'] }}</td>
                <td>{{ restaurant_info['City'].split(' ')[0].title() }} City, {{ restaurant_info['State'].title() }}</td>
                <td>
                    {% for similar_city, _ in similar_cities[loop.index - 1] %}
                        {{ similar_city.title() }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}